{% extends "core/base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-danger text-white">
            <h3>Supprimer une classe</h3>
        </div>

        <div class="card-body">

            <p>
                Voulez-vous vraiment supprimer la classe
                <strong>{{ classe.nom }}</strong> ?
            </p>

            <form method="post">
                {% csrf_token %}

                <button type="submit" class="btn btn-danger">
                    Oui, supprimer
                </button>

                <a href="{% url 'liste_classes' %}" class="btn btn-secondary">
                    Annuler
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}