{% extends "core/base.html" %}

{% block content %}

<!-- Hero -->

<div class="p-5 mb-5 rounded-4 shadow-lg text-center text-white"
     style="background: linear-gradient(135deg,#198754,#157347);">

    <h1 class="display-3 fw-bold mb-3">
        📚 Kaay Nu Djang
    </h1>
   

    <p class="fs-3">
        La plateforme numérique d'apprentissage
        destinée aux collèges du Sénégal.
    </p>

    <p class="lead mb-4">
        Cours • Devoirs • Quiz • Suivi pédagogique
    </p>

    {% if not user.is_authenticated %}

        <a href="{% url 'connexion' %}" class="btn btn-light btn-lg px-5 me-3">
            Se connecter
        </a>

    {% else %}

        {% if user.profil.role == "admin" %}

            <a href="{% url 'dashboard_admin' %}" class="btn btn-light btn-lg px-5">
                Accéder à mon espace
            </a>

        {% elif user.profil.role == "enseignant" %}

            <a href="{% url 'dashboard_enseignant' %}" class="btn btn-light btn-lg px-5">
                Accéder à mon espace
            </a>

        {% elif user.profil.role == "eleve" %}

            <a href="{% url 'dashboard_eleve' %}" class="btn btn-light btn-lg px-5">
                Accéder à mon espace
            </a>

        {% endif %}

    {% endif %}

</div>


{% endblock %}